/*------------------------------*\

	TABLE OF CONTENTS

	x. SASS ELEMENTS (not shown in CSS)

	0. HACKS AND OVERRIDES

	1. CONTENT

\*------------------------------*/
/*------------------------------------*\

    x. SASS ELEMENTS

\*------------------------------------*/
/*--------------------------------------*\

    Default All Elements

\*--------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------------------------------------------*\

    0. HACKS, DEFAULTS & OVERRIDES 

\*----------------------------------------------------------*/
/*------------------- Extended base styles  ---------------------*/
body {
  line-height: 1;
  background-repeat: no-repeat;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: white;
  font-size: 14px;
  font-family: 'Lato', sans-serif; }

p {
  font-weight: 300;
  font-size: 20px;
  margin: 1em 0;
  color: #000;
  width: 100%; }

li {
  color: #FFF; }

h1 {
  margin: 0 0 0 0;
  font-size: 150px;
  font-weight: 400;
  color: black; }

h2 {
  margin: 0 0 25px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 65px;
  color: black; }

h3 {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #333; }

/*----------------------------------------------------------*\

    1. CONTENT STYLING

\*----------------------------------------------------------*/
section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #3F5765; }
  section .content {
    position: relative;
    float: left;
    top: 50%;
    width: 40%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  section .left, section .right {
    margin-left: 100px; }
  section .img {
    position: relative;
    float: left;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  section .clear {
    clear: both; }
  section .row {
    width: 100%;
    height: 100%; }

/*--------------- Section colours-----------------*/
.section1 {
  background-color: #efefef; }

.section2 {
  background-color: #bdd4de; }

.section3 {
  background-color: #efefef; }

.section4 {
  background-color: #bdd4de; }

.section5 {
  background-color: #efefef; }

/*----------------------------------------------------------*\

    3. One-page plugin styles

\*----------------------------------------------------------*/
body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%; }

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d; }
  .onepage-wrapper .ops-section {
    width: 100%;
    height: 100%;
    position: relative; }

.onepage-pagination {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0; }
  .onepage-pagination li {
    padding: 0;
    text-align: center; }
    .onepage-pagination li a {
      padding: 12px;
      width: 4px;
      height: 4px;
      display: block; }
    .onepage-pagination li a:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #585a5b;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; }
    .onepage-pagination li a.active:before {
      width: 15px;
      height: 15px;
      background: #E74C3C;
      border: 0px solid black;
      margin-top: -2px;
      left: 10px; }

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%; }
  .disabled-onepage-scroll .onepage-wrapper .ops-section {
    position: relative !important;
    top: auto !important; }
.disabled-onepage-scroll .onepage-pagination {
  display: none; }

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto; }

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit; }

/*----------------------------------------------------------*\

    4. Media Queries

\*----------------------------------------------------------*/
/* Special case for adjusting image and content padding */
@media only screen and (min-width: 1630px) {
  .left, .right {
    margin-left: 160px !important; }

  .section3 .left, .section3 .right {
    margin-left: 120px !important; } }
